<html>
    <head>
        <title>URL Shortener</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body style="width:100%; display: flex; flex-direction: column;">
        <h1 style="text-align: center;">Joe Gordon's URL Shortener</h1>

        <div id="Tabs" style="width: 100%; text-align: left;">
            <ul class="nav nav-tabs">
                <li class="nav-item" style="cursor: pointer;">
                  <a id="URL_Shortener_Tab" class="nav-link active" onclick="changeTab('URL_Shortener')">URL Shortener</a>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                  <a id="Get_Original_URL_Tab" class="nav-link" onclick="changeTab('Get_Original_URL')">Get Original URL</a>
                </li>
            </ul>
        </div>

        <div id="URL_Shortener_Content" class="tab_content" style="padding: 20px;">
            <h3>Input a URL to shorten:</h3>
            <input type="text" id="URL_to_shorten" class="form-control" placeholder="URL" style="width: 60%;">
            <button type="button" class="btn btn-primary" style="margin-top:10px;" onclick="shortenURL()">Shorten URL!</button>

            <div id="shortenedResult" style="margin-top: 20px;display: none;">
                <h3 style="color: green;">Success</h3>
                <h6>You entered this URL:</h6>
                <h6 id="urlThatWasShortened" style="color:blue"></h6>
                <h6 style="margin-top: 20px;">Which got shortened to:</h6>
                <h6 id="shortenedURl" style="color:blue"></h6>
            </div>
        </div>

        <div id="Get_Original_URL_Content" class="tab_content" style="padding: 20px;display: none;">
            <h3>Input a short URL to get the original URL:</h3>
            <input type="text" id="URL_to_restore" class="form-control" placeholder="URL" style="width: 60%;">
            <button type="button" class="btn btn-primary" style="margin-top:10px;" onclick="getOriginalURL()">Get Original!</button>

            <div id="originalSuccess" style="margin-top: 20px;display: none;">
                <h3 style="color: green;">Success</h3>
                <h6>You entered this short URL:</h6>
                <h6 id="shortenedURL_Success" style="color:blue"></h6>
                <h6 style="margin-top: 20px;">Which was originally this URL:</h6>
                <h6 id="originalURL_Success" style="color:blue"></h6>
            </div>
            <div id="originalError" style="margin-top: 20px;display: none;">
                <h3 style="color: red;">Uh Oh!</h3>
                <h6>You entered this URL:</h6>
                <h6 id="shortenedURL_Error" style="color:blue"></h6>
                <h6 style="margin-top: 20px;">Which has not associated with a URL</h6>
            </div>
        </div>

        <script>
            function changeTab(tab) {
                var tabs = document.getElementsByClassName("nav-link")
                var tab_contents = document.getElementsByClassName("tab_content")

                for (var i = 0; i < tabs.length; i++) 
                    tabs[i].classList.remove("active");
                for (var i = 0; i < tab_contents.length; i++) 
                    tab_contents[i].style.display = 'none';
                
                document.getElementById(tab + '_Tab').classList.add("active");
                document.getElementById(tab + '_Content').style.display = "Block";
            }

            function validURL(url){
                //I found this URL validator online
                var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
                return !!pattern.test(url);
            }

            function shortenURL() {
                var urlToShorten = document.getElementById('URL_to_shorten').value;
                if (!validURL(urlToShorten))
                    alert('Please enter a valid URL') ;  
                else{
                    $.ajax({
                        url: '/shortenURL',
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({'URL' : urlToShorten}),
                        contentType: "application/json;",
                        success: function (data) {
                            document.getElementById('URL_to_shorten').value = ''
                            document.getElementById('urlThatWasShortened').innerHTML = urlToShorten;
                            document.getElementById('shortenedURl').innerHTML = data['shortenedURL'];
                            document.getElementById('shortenedResult').style.display = "Block";

                            document.cookie = 'countOfURLsGenerated=' + data['countOfURLsGenerated'];
                            document.cookie = data['countOfURLsGenerated'] + '=' + urlToShorten;
                        },
                        error: function (error) {
                            console.log(`Error ${error}`);
                        }
                    });
                }
            }

            function getOriginalURL() {
                var urlToRestore = document.getElementById('URL_to_restore').value;
                if (!validURL(urlToRestore))
                    alert('Please enter a valid URL') ;  
                else if(urlToRestore.substring(0, "https://joe.com/".length) != 'https://joe.com/')
                    alert('Short URLs consist of "https://joe.com/" followed by the URL ID')
                else{
                    $.ajax({
                        url: '/getOriginalURL',
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({'URL' : urlToRestore}),
                        contentType: "application/json;",
                        success: function (data) {
                            document.getElementById('URL_to_restore').value = ''
                            document.getElementById('originalSuccess').style.display = 'none'
                            document.getElementById('originalError').style.display = 'none'
                            
                            if('originalURL' in data){
                                document.getElementById('originalSuccess').style.display = 'block'
                                document.getElementById('shortenedURL_Success').innerHTML = urlToRestore;
                                document.getElementById('originalURL_Success').innerHTML = data['originalURL'];

                            }else{
                                document.getElementById('originalError').style.display = 'block'
                                document.getElementById('shortenedURL_Error').innerHTML = urlToRestore;
                            }
                        },
                        error: function (error) {
                            console.log(`Error ${error}`);
                        }
                    });
                }
            }

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html> 